@import "tailwindcss";
@import "@tailwindcss/typography";

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code, pre, kbd, samp {
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Monaco, Consolas,
      "Courier New", monospace;
  }
}
